@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  display: flex;
  justify-content: center;
  scrollbar-gutter: stable;
  height: 100dvh;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  max-width: 1500px;
  width: 90%;
  height: 100%;
}

header {
  background-color: #00000040;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
  padding: 16px;
}

footer {
  padding: 10px 0 16px 0;
}

.footer {
  background-color: #00000040;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  p {
    text-align: center;
    width: 100%;
  }
}

.header-logo {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  transition: 0.2s;
  &:hover {
    transform: scale(0.95);
  }
  h1 {
    margin: 0;
  }
}

.header-nav {
  display: flex;
  gap: 16px;
  a {
    color: white;
    font-size: 18px;
    text-decoration-color: transparent;
    transition: 0.2s;
    &:hover {
      text-decoration-color: white;
    }
  }
  .selected {
    text-decoration-color: white;
  }
}

h2 {
  text-align: center;
}

h3 {
  margin-top: 42px;
  margin-bottom: 0;
}

p {
  margin: 10px 0;
}

table {
  border: 1px solid #484848;
  border-collapse: collapse;
}

th, td {
  padding: 4px;
}

.tab {
  background-color: red;
  padding-left: 16px;
}

img, video {
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 16px;
}

.elemento {
  background-color: #00000040;
  border-radius: 6px;
  height: fit-content;
  margin-bottom: 10px;
  outline: 1px solid #484848;
  h2, h3 {
    text-align: initial;
  }
  .codigo {
    padding: 10px;
    background-color: #00000040;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  .etiqueta {
    border-top: 1px solid #484848;
    padding: 10px;
  }
}

.intro-container {
  display: flex;
  justify-content: center;
}

.intro {
  background-color: #00000040;
  border-radius: 6px;
  height: 100px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form {
  border-radius: 6px;
  background-color: #00000040;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  width: 350px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

pre {
  margin: 0;
}

canvas {
  background-color: white;
  border-radius: 6px;
}